# =============== #
# Unity generated #
# =============== #
Freelance_Bell_Imersive/Temp/
Freelance_Bell_Imersive/Library/
Freelance_Bell_Imersive/ProjectSettings/
Freelance_Bell_Imersive/.vs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Freelance_Bell_Imersive/ExportedObj/
Freelance_Bell_Imersive/obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db